<app-header class="sticky-top"></app-header>
<div class="container" *ngIf="!verifystatus">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-container p-4 mt-5">
        <div class="form-header d-flex justify-content-between align-items-center">
          <h2>Forgot Password</h2>
        </div>
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="login-form">
          <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" class="form-control" formControlName="email" type="email">
            <div *ngIf="forgotForm.get('email').invalid && (forgotForm.get('email').touched || forgotForm.get('email').dirty)" class="text-danger">
              <div *ngIf="forgotForm.get('email').errors?.required">Email is required.</div>
              <div *ngIf="forgotForm.get('email').errors?.email">Enter a valid email.</div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block" >Submit</button>
        </form>

        <div class="d-flex justify-content-between mt-3">
          <a routerLink="/login" class="text-left no-underline">Login to your account </a>
          <!-- <a routerLink="/reset-password" class="text-left no-underline">Reset Password</a> -->

        </div>
      </div>
    </div>
  </div>
</div>


<div class="container" *ngIf="verifystatus">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-container p-4 mt-5">
          <div class="form-header d-flex justify-content-between align-items-center">
            <h2>Forgot Password</h2>
          </div>
          <form [formGroup]="forgotForm1" (ngSubmit)="onSubmit1()" class="login-form">
           
            <div class="form-group">
                <label for="password">Password:</label>
                <input id="password" class="form-control" formControlName="password" type="password">
                <div *ngIf="forgotForm1.get('password').invalid && (forgotForm1.get('password').touched || forgotForm1.get('password').dirty)" class="text-danger">
                  <div *ngIf="forgotForm1.get('password').errors?.required">Password is required.</div>
                  <div *ngIf="forgotForm1.get('password').errors?.minlength">Password should be at least 6 characters long.</div>
                </div>
              </div>
            
              <div class="form-group">
                <label for="confirmpassword">Confirm Password:</label>
                <input id="confirmpassword" class="form-control" formControlName="confirmpassword" type="password">
                <div *ngIf="forgotForm1.get('confirmpassword').invalid && (forgotForm1.get('confirmpassword').touched || forgotForm1.get('confirmpassword').dirty)" class="text-danger">
                  <div *ngIf="forgotForm1.get('confirmpassword').errors?.required">Confirm Password is required.</div>
                  <div *ngIf="forgotForm1.get('confirmpassword').errors?.minlength">Confirm Password should be at least 6 characters long.</div>
              
                 
                </div>
              </div>
              <div *ngIf="forgotForm1.errors?.passwordMismatch" class="text-danger mb-3">
                Password and Confirm Password do not match.
              </div>
             
              
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  